<!doctype html>

<html lang="en">



<!DOCTYPE html>
<html lang="en ">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/3477ae541c.js" crossorigin="anonymous"></script>

    <!-- swipper cdn  -->
    <link rel="stylesheet" href="https://unpkg.com/swiper@8/swiper-bundle.min.css" />
    <link href="styles2.css" type="text/css" rel="stylesheet" />


    <title>Dolmans Garage</title>
</head>

<body>
    <!-- header  -->
    <header class="header">
        <a href="/" class="logo">Dolmans Garage</a>

        <nav class="navbar">
            <a href="/">home</a>
            <a href="/about" class="active">about</a>
            <a href="/service">services</a>
            <a href="/MOT">MOT</a>
            <a href="/F-gas">Air-con regassing</a>
            <a href="carsforsale">Cars For Sale</a>
        </nav>
        <i class="fa-solid fa-bars"></i>
    </header>
    <!-- /header  -->

    <br><br><br><br><br>


    <!-- about  -->
    <section class="about" id="about">
        <div class="row">
            <div class="images">
                <img src="https://lh3.googleusercontent.com/pw/AM-JKLUKxPtRiTB1GKjuarqwWO6xdLZb0vlSReMQnPnwO3mjiZXgBaXJ0YICUU1Tjz9V-Ithj3Fhu9Vaj2kagXuPLBKIF7nUGvTWZ_wlxBo9aZpubNARPqMICho0IDqCmen1mgXfVBrlqId9Fbz_KMF3Gpo=w1236-h1854-no?authuser=0"
                    alt="image">
            </div>
            <div class="box">
                <h1>About Us</h1>
                <p>
                    Here at Dolman's Garage, we take care of all your needs in one place.
                    With 20 years of experience, taking care of your car is our number
                    one priority. With our professional and specialist, we ensure that your
                    experience with us is easy and simple. </p>
                <p>
                    We supply what you need and when you need it and offer our friendly advice
                    to ensure that you are getting the best value for your money. We provide
                    high quality workmanship and excellent customer service, with out art of state
                    equipment we are ready to take care of your car, while you sit back and relax. </p>


                <div class="content">
                    <div class="icons" style=" margin-left: 35px; margin-right: 35px;">
                        <div class="icon-about">
                            <i class="fa-solid fa-car"></i>

                            <h4>Comprehensive car servicing</h4>
                            <p>Does your car require maintenance? Do you need a full car service?
                                Get in touch with Dolmans Garage ltd. We will help
                                you with your car servicing requirements. Our expert mechanics can
                                diagnose and repair your car quickly and at affordable prices. </p><br> <br>
                            </p>
                        </div>
                        <br>

                        <div class="icon-about">
                            <i class="fa-solid fa-wrench"></i>
                            <h4>car engine </h4>
                            <p>Your vehicle's engine includes a network of components, all of which rely on one another
                                to function. When everything goes smoothly, you've got an efficient engine that keeps
                                your car going. But, when one thing goes wrong, suddenly, your engine won’t run as it
                                should, and your car can't stay on the road.

                                Because there are so many reasons your engine might start misbehaving, it helps to
                                understand the different parts that might fail and how to get the proper repair to keep
                                your car running smoothly.</p>
                        </div>

                    </div>


                    <div class="icons">
                        <div class="icon-about">
                            <i class="fa-solid fa-gears"></i>
                            <h4>transmission</h4>
                            <p> Your car’s transmission is a complicated and technical system of many components that
                                work together to deliver power to the wheels.
                                When something goes wrong, it can be challenging to know the cause. Luckily, a
                                professional will diagnose transmission problems
                                for you and provide you with the right repair. There are a few common faults that often
                                cause issues with your car’s transmission system.</p>
                            <br> <br>
                        </div>
                        <br>

                        <div class="icon-about">
                            <i class="fa-solid fa-tools"></i>
                            <i class="fas fa-garage"></i>
                            <h4>Suspension </h4>
                            <p>
                                Your car’s suspension effectively connects the vehicle’s main body to its wheels,
                                allowing you to drive with control and stability on the roads. The suspension
                                system is made from a network of tyres, springs, shock absorbers, and bars, which
                                work together to keep the wheels in contact with the road as the car moves.
                                The suspension provides safety to the driver and passengers and stops the car’s
                                frame from taking any impact from bumps in the road or uneven surfaces.</p>

                        </div>
                    </div>
                </div>
                <a href="/service" class="btn">Read More</a>
            </div>
        </div>
        </div>

        <div class="achiv">
            <div class="content">
                <i class="fa-solid fa-face-smile"><span>4.6 Review</span></i>
            </div>
            <div class="content">
                <i class="fa-solid fa-sack-dollar"><span>reasonable prices</span></i>
            </div>
            <div class="content">
                <i class="fa-solid fa-graduation-cap"><span>Professional And Specialist Mechanic</span></i>
            </div>
            <div class="content">
                <i class="fa-solid fa-users"><span>232</span></i>
            </div>
        </div>
    </section>
    <!-- /about  -->

    <footer class="footer" id="footer">
        <div class="box-containr">

            <div class="share">
                <h3>Connect With us on Our socials</h3>
                <a href="#" class="fa-brands fa-facebook"> FaceBook</a>
                <a href="#" class="fa-brands fa-instagram"> Instagram</a>
            </div>
    </footer>




</body>

</html>