<!doctype html>

<html lang="en">



<!DOCTYPE html>
<html lang="en ">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/3477ae541c.js" crossorigin="anonymous"></script>
    <!-- swipper cdn  -->
    <link rel="stylesheet" href="https://unpkg.com/swiper@8/swiper-bundle.min.css" />
    <link href="styles2.css" type="text/css" rel="stylesheet" />


    <title>Dolmans Garage</title>
</head>

<body>
    <!-- header  -->
    <header class="header">
        <a href="/" class="logo">Dolmans Garage</a>

        <nav class="navbar">
            <a href="/">home</a>
            <a href="/about">about</a>
            <a href="/service">services</a>
            <a href="/MOT" class="active">MOT</a>
            <a href="/F-gas">Air-con regassing</a>
            <a href="/carsforsale">Cars For Sale</a>
            <a href="/contact">contact</a>
        </nav>
        <i class="fa-solid fa-bars"></i>
    </header>
    <!-- /header  -->
    <br><br><br><br><br>

    <!-- MOT  -->
    <section class="about" id="about">
        <div class="row">
            <div class="images">
                <img src="https://lh3.googleusercontent.com/pw/AM-JKLUKxPtRiTB1GKjuarqwWO6xdLZb0vlSReMQnPnwO3mjiZXgBaXJ0YICUU1Tjz9V-Ithj3Fhu9Vaj2kagXuPLBKIF7nUGvTWZ_wlxBo9aZpubNARPqMICho0IDqCmen1mgXfVBrlqId9Fbz_KMF3Gpo=w1236-h1854-no?authuser=0"
                    alt="image">
            </div>
            <div class="box">
                <div>
                    <h1>MOT</h1>
                    <p>
                        The MOT test is an annual inspection that makes sure your vehicle meets
                        the minimum acceptable environmental and road safety standards required by law.
                        The MOT test involves dozens of checks on your car, covering many components from
                        the braking system and fuel system to seatbelts, wipers, mirrors, lights and the exhaust.</p>


                    <p>
                        When your car is three years old from the date of its registration
                        it will need its first MOT test - and then it needs to be retested
                        every year on the anniversary of its last MOT test.
                    </p>

                    <p>
                        Once passed, you'll get an MOT test certificate with the date of test on it, and the date of
                        expiry
                        so you know when the vehicle requires a new MOT. If you choose, you can get the
                        vehicle retested up to a month (minus a day) before it expires and keep the original renewal
                        date.
                    </p>

                    <a href="/MOTBooking" class="btn">Book NOW</a>

                </div>
                <br><br>

                <div class="content">
                    <div class="icons" style=" margin-left: 35px; margin-right: 35px;">
                        <div class="icon-about">

                            <h4>Pre-MOT checks</h4>
                            <p>
                                There are some quick things you can do as a driver to give your vehicle the best chace
                                of passing its MOT. For instance: <br><br>

                                1) Keep your car clean, inside and out. A boot full of clutter and an excessively dirty
                                car
                                could lead to an examiner refusing to carry out the MOT. <br><br>

                                2) Give number plates a clean as they need to be readable to pass the MOT. <br><br>

                                3) Check the windscreen wipers are in good condition, with no tears.<br><br>

                                4) Check all lights are in working order. Ask a friend or family member to stand outside
                                the car and confirm lights function properly. <br><br>

                                5) Check tyre tread using the 20p test, and tyre pressure too<br><br>

                                6) Top up all fluid levels - screenwash, brake fluid and oil. <br><br>

                                7) Check that the horn works - give it a quick honk! <br><br>

                                8) All of your mirrors should be intact and secure to ensure you can use them safely.
                                <br><br>

                                9) The Vehicle Identification Number (VIN) in your car’s V5C logbook should match that
                                marked on your car’s bodywork.

                            </p>


                        </div>
                        <br>

                    </div>


                </div>
            </div>
        </div>
        </div>
        </div>

    </section>
    <!-- MOT -->

    <!-- .contact  -->
    <section class="contact" id="contact">
        <h2 class="heading">contact us</h2>
        <div class="box">
            <div class="content">
                <i class="fa-solid fa-mobile-screen"></i>
                <div>call: 0121 554 4396</div>
                <div>monday-friday (9am-5:30pm) </div>
                <div>Saturday (9am-4:00pm) </div>
                <div>Sunday (Closed) </div>

            </div>
            <div class="content">
                <i class="fa-solid fa-envelope"></i>
                <div>Email</div>
                <div>admin@Dolmansgarage.co.uk</div>

            </div>
            <div class="content">
                <i class="fa-solid fa-location-dot"></i>
                <div>location</div>
                <div> 1 Handsworth New Rd, Winson Green</div>
                <div>Birmingham B18 4PG</div>
            </div>
        </div>

        <div class="row">
            <div class="ifarm">
                <div class="mapouter">
                    <div class="gmap_canvas"><iframe width="550" height="430" id="gmap_canvas"
                            src="https://maps.google.com/maps?q=dolmans%20garage&t=&z=17&ie=UTF8&iwloc=&output=embed"
                            frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe><a
                            href="https://www.whatismyip-address.com"></a><br>
                        <style>
                            .mapouter {
                                position: relative;
                                text-align: right;
                                height: 430px;
                                width: 550px;
                            }
                        </style><a href="https://www.embedgooglemap.net">embedgooglemap.net</a>
                        <style>
                            .gmap_canvas {
                                overflow: hidden;
                                background: none !important;
                                height: 430px;
                                width: 550px;
                            }
                        </style>
                    </div>
                </div>
                <!--<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3452.46998136828!2d31.367140420131445!3d30.080723581957894!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14583df81720ed69%3A0xb597301dcb56aacf!2z2YXZiNmEINiz2YrYqtmKINiz2YbYqtixINin2YTZhdin2LjYqQ!5e0!3m2!1sar!2seg!4v1653556459063!5m2!1sar!2seg" width="550" height="430" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                -->
            </div>
            <div class="form-c">
                <form action="/" enctype="multipart/form-data" method="post">
                    <input type="text" name="name" placeholder="name">
                    <input type="email" name="email" placeholder="email">
                    <input type="number" name="phone" placeholder="phone">
                    <textarea name="message" cols="30" rows="10"></textarea>
                    <input type="submit" value="send">
                </form>
            </div>
        </div>
    </section>
    <!-- /contact  -->

    <footer class="footer" id="footer">
        <div class="box-containr">

            <div class="share">
                <h3>Connect With us on Our socials</h3>
                <a href="#" class="fa-brands fa-facebook"> FaceBook</a>
                <a href="#" class="fa-brands fa-instagram"> Instagram</a>
            </div>
    </footer>


    <script src="https://unpkg.com/swiper@8/swiper-bundle.min.js"></script>
    <script src="views\script.js"></script>


</body>

</html>