<!doctype html>

<html lang="en">



<!DOCTYPE html>
<html lang="en ">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/3477ae541c.js" crossorigin="anonymous"></script>
    <!-- swipper cdn  -->
    <link rel="stylesheet" href="https://unpkg.com/swiper@8/swiper-bundle.min.css" />
    <link href="styles2.css" type="text/css" rel="stylesheet" />


    <title>Dolmans Garage</title>
</head>

<body>
    <!-- header  -->
    <header class="header">
        <a href="/" class="logo">Dolmans Garage</a>

        <nav class="navbar">
            <a href="/">home</a>
            <a href="/about">about</a>
            <a href="/service" class="active">services</a>
            <a href="/MOT">MOT</a>
            <a href="/F-gas">Air-con regassing</a>
            <a href="/carsforsale">Cars For Sale</a>
            <a href="contact">contact</a>
        </nav>
        <i class="fa-solid fa-bars"></i>
    </header>
    <!-- /header  -->
    <!-- Service  -->
    <section class="services" id="services">

        <h2 class="heading">our services</h2>


        <div class="row">
            <div class="box">
                <!-- <i class="fa-solid fa-brake-warning"></i> -->

                <h3>
                    Brake Pads
                </h3>
                <p>
                    Brake pads are a vital part of your car’s braking system,
                    clamping down on your brake discs to bring your vehicle to a safe stop.
                    If your brake pads are wearing out, we can supply new pads to be fitted,
                    either alone or with new brake discs.
                </p>
                <br>
                <p>
                    If you experience anything unusual such us Pulling to one side when you brake,
                    Shaking or juddering when you brake, Difficulty stopping or slowing the car or
                    Brake pedals that don't spring back when released, getting them
                    checked straight away is important. At Dolmans Garage will diagnose the
                    issue and perform the proper repair to get you back on the
                    road as soon as possible.
                </p>
            </div>

            <div class="box">
                <!-- <i class="fa-solid fa-brake-warning"></i> -->
                <h3>
                    Clutch replacement
                </h3>
                <p>
                    Like any component in your car, over time, the clutch can become worn.
                    There are several common clutch faults that suggest it needs to be
                    replaced to prevent extensive damage to your engine.

                </p>
                <br>
                <p>
                    A slipping clutch is one of the most common clutch problems.
                    It causes a drop in driving performance, but can also cause
                    extensive damage to your engine or gearbox if not repaired in time.
                    The signs of a slipping clutch include:Issues accelerating and Difficulty getting up hills in a high
                    gear
                </p>

            </div>

            <div class="box">
                <!-- <i class="fa-solid fa-brake-warning"></i> -->
                <h3>
                    engine oil
                </h3>
                <p>
                    Low oil level and pressure and Degraded engine oil
                    are Two main problems that can occur with your engine oil, and it’s important to be
                    aware of them both to avoid risking any damage to your engine. Luckily,
                    if there’s a problem with your engine oil, a warning light on your dashboard
                    will usually appear to let you know about it.

                </p>
                <br>
                <p>
                    Over time, engine oil can fall below a certain level and will need to be topped up.
                    However, low oil levels can also be a sign of a leak. Check your oil level by using
                    the dipstick in your engine bay, and be sure to top it up if it falls below the minimum marker.
                </p>

            </div>

            <div class="box">
                <!-- <i class="fa-solid fa-brake-warning"></i> -->

                <h3>
                    Front-wheel alignment
                </h3>
                <p>
                    Wheel alignment involves correcting any issues to make sure your wheels are tracking straight,
                    are correctly secured, and are fitted as per the manufacturer's recommendation. If your car
                    often veers to one side, or you're worried about damage caused by a hole in the road,
                    you may need to book a front wheel alignment to get them moving back on track.
                </p>

            </div>

            <div class="box">
                <div class="content">
                    <!-- <i class="fa-solid fa-brake-warning"></i> -->

                    <h3>
                        Car electrics
                    </h3>
                </div>
                <p>
                    Your car uses electricity for its battery, starter, and alternator.
                    So, if you can’t start your car, it’s often due to a problem with your car electrics.
                    Anything controlled by your car’s central console also relies on electricity to work.
                    Your radio, windows, door locks, and aircon may all be powered by the electrical system.
                    If you experience something as small as a blown fuse, it can significantly impact how your car
                    functions.
                    At Dolmans Garage we have fully trained mechanicsto help you diagnose and repair any issues as
                    quickly as possible.
                </p>


            </div>

            <div class="box">
                <div class="content">
                    <!-- <i class="fa-solid fa-brake-warning"></i> -->

                    <h3>
                        aircon regassed
                    </h3>
                </div>
                <p>
                    An aircon regas means removing the old refrigerant from a car's air conditioning system
                    and replacing it with a new one. This in turn helps to improve the car’s air conditioning
                    system because during the air con regas process, a technician will remove the
                    old refrigerant from your car’s air conditioning system and replace it with a fresh one,
                    helping to keep your cabin cooler. Recharging your aircon usually takes around 45 minutes,
                    if no other aircon faults are discovered.
                </p>

            </div>
        </div>
    </section>

    <!-- Service -->

    <!-- .contact  -->
    <section class="contact" id="contact">
        <h2 class="heading">contact us</h2>
        <div class="box">
            <div class="content">
                <i class="fa-solid fa-mobile-screen"></i>
                <div>call: 0121 554 4396</div>
                <div>monday-friday (9am-5:30pm) </div>
                <div>Saturday (9am-4:00pm) </div>
                <div>Sunday (Closed) </div>

            </div>
            <div class="content">
                <i class="fa-solid fa-envelope"></i>
                <div>Email</div>
                <div>admin@Dolmansgarage.co.uk</div>

            </div>
            <div class="content">
                <i class="fa-solid fa-location-dot"></i>
                <div>location</div>
                <div> 1 Handsworth New Rd, Winson Green</div>
                <div>Birmingham B18 4PG</div>
            </div>
        </div>

        <div class="row">
            <div class="ifarm">
                <div class="mapouter">
                    <div class="gmap_canvas"><iframe width="550" height="430" id="gmap_canvas"
                            src="https://maps.google.com/maps?q=dolmans%20garage&t=&z=17&ie=UTF8&iwloc=&output=embed"
                            frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe><a
                            href="https://www.whatismyip-address.com"></a><br>
                        <style>
                            .mapouter {
                                position: relative;
                                text-align: right;
                                height: 430px;
                                width: 550px;
                            }
                        </style><a href="https://www.embedgooglemap.net">embedgooglemap.net</a>
                        <style>
                            .gmap_canvas {
                                overflow: hidden;
                                background: none !important;
                                height: 430px;
                                width: 550px;
                            }
                        </style>
                    </div>
                </div>
                <!--<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3452.46998136828!2d31.367140420131445!3d30.080723581957894!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14583df81720ed69%3A0xb597301dcb56aacf!2z2YXZiNmEINiz2YrYqtmKINiz2YbYqtixINin2YTZhdin2LjYqQ!5e0!3m2!1sar!2seg!4v1653556459063!5m2!1sar!2seg" width="550" height="430" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                -->
            </div>
            <div class="form-c">
                <form action="/" enctype="multipart/form-data" method="post">
                    <input type="text" name="name" placeholder="name">
                    <input type="email" name="email" placeholder="email">
                    <input type="number" name="phone" placeholder="phone">
                    <textarea name="message" cols="30" rows="10"></textarea>
                    <input type="submit" value="send">
                </form>
            </div>
        </div>
    </section>
    <!-- /contact  -->

    <footer class="footer" id="footer">
        <div class="box-containr">

            <div class="share">
                <h3>Connect With us on Our socials</h3>
                <a href="#" class="fa-brands fa-facebook"> FaceBook</a>
                <a href="#" class="fa-brands fa-instagram"> Instagram</a>
            </div>
    </footer>

</body>

</html>